{% load static %}

<!DOCTYPE html>
<html>

    <body>
        <h4>{{ form_header }}</h4>
        <form {{formmethod}} id = {{formid}} name = {{formid}}>
            {% csrf_token %}
            {{ form }}
            <input id="submitor" type="submit" value="Принять">
        </form>
        <button id="skip_recording" type="button" onclick="
            document.getElementById('form_div').remove();
	        document.getElementById('shadow').remove();"
        >Пропустить</button> 
        
    </body>
</html>