{% load static %}
<!DOCTYPE html>
<html >
<head>
    <title>This Webpage is Mine</title>
    <meta charset="utf-8">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #faebd7;
            margin: 10px;

        }

    </style>
	<script src="{% static 'leaderBoard/auth.js' %}" data-adrr = "{{ IP }}"></script>
    <script src="{% static 'leaderBoard/calculator.js' %}" data-adrr = "{{ IP }}"></script>
    <script src="{% static 'leaderBoard/snake.js' %}" data-adrr = "{{ IP }}"></script>
	<link rel="stylesheet" href="{% static 'leaderBoard/crasivenko.css' %}">
</head>
<body>
	<div id="profile" onclick="checkUsersAuth()">	
	</div>
	<h1 id="main_header">Это моя страничка. Таких страничек много, но эта страничка моя.</h1>
	<h3 id='dialog_with_user'></h3>
		
		<p id="result"></p>


		<div id="actionField">
		</div>
		
	<script>
	var expression  = "";
	
	


	function startAction(){
		let selectSnake = document.createElement("button");
		document.getElementById("actionField").appendChild(selectSnake);
		selectSnake.innerHTML = "Змейка";
		selectSnake.id = "snakeStartButton";
		selectSnake.type = "button";
		selectSnake.onclick = snakeStart;
		let selectCalculator = document.createElement("button");
		document.getElementById("actionField").appendChild(selectCalculator);
		selectCalculator.innerHTML = "Калькулятор";
		selectCalculator.id = "calculatorStartButton";
		selectCalculator.type = "button";
		selectCalculator.onclick = calculatorStart;
	}


	startAction();
	</script>
	

	
</body>























</html>
